@use 'abstracts/variables' as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: var.$color-tertiary;
}

h1,
h2,
h3 {
  margin-block-end: var.$gap;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
