@use '../abstracts/variables' as var;

.u-container {
  inline-size: 95%;
  max-inline-size: 120rem;
  margin-inline: auto;
}

.u-nmt-10 {
  margin-block-start: -10rem;
}

.u-bg-primary {
  background: var.$color-primary;
}

.u-bg-white {
  background: var.$color-white;
}

.u-center-text {
  text-align: center;
}
