@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixin;

.webp .header-contact {
  background: url(../img/header_contacto.webp) no-repeat;
  background-size: cover;
}

.avif .header-contact {
  background: url(../img/header_contacto.avif) no-repeat;
  background-size: cover;
}

.notavif.notwebp .header-contact {
  background: url(../img/header_contacto.jpg) no-repeat;
  background-size: cover;
}

.webp .contact-content {
  @include mixin.contactBgImage('../img/granos_cafe.webp');
}

.avif .contact-content {
  @include mixin.contactBgImage('../img/granos_cafe.avif');
}

.notavif.notwebp .contact-content {
  @include mixin.contactBgImage('../img/granos_cafe.jpg');
}
