@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixin;

.header-home {
  background: url(../img/header_inicio.jpg) no-repeat;
  background-size: cover;
}

.icons {
  margin-block-end: 10rem;
}
