@use 'variables' as var;

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (min-width: var.$phone) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media (min-width: var.$tablet) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media (min-width: var.$desktop) {
      @content;
    }
  }
}

@mixin grid($column, $gap) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  gap: $gap;
}

@mixin coffeeHeaderImage {
  content: '';
  display: block;
  inline-size: 10rem;
  block-size: 10rem;
  margin-inline: auto;
  background: url(../img/cafe.svg);
  background-size: 10rem;
}
