// Fonts
$font-primary: 'Roboto', sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$color-primary: #e8505b;
$color-secondary: #455a64;
$color-black: #000;
$color-white: #fff;
$color-grey-light: #eceeef;

// Utilities
$gap: 5rem;
