// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: 'Bona Nova', serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$color-primary: #5e311e;
$color-secondary: #c39c63;
$color-tertiary: #ebe7de;
$color-black: #000;
$color-white: #fff;
$color-grey-light: #eceeef;

// Utilities
$gap: 5rem;
